@import 'responsive';
@import 'colors.scss';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    box-sizing: border-box;

    @include for-sm-up {
        padding: 30px;
    }
}

.title {
    font-size: 30px;

    @include for-sm-up {
        padding: 30px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include for-sm-up {
        max-width: 500px;
    }
}

.field {
    margin: 20px;
    width: 100%;

    @include for-sm-up {
      font-size: 22px;
    }
}

.submit-button {
  margin-top: 40px;
  font-size: 16px;
  padding: 5px 20px;

  @include for-sm-up {
    padding: 10px 20px;
    font-size: 25px;
  }
}

.option {
  margin-top: 10px;
  font-size: 18px;

  @include for-sm-up {
    margin-top: 22px;
    font-size: 22px;
  }

  & > .link {
    color: $habitop-accent;
  }
}