<div class="login">
    <div class="title">Login</div>

    <form [formGroup]="loginForm" 
        (ngSubmit)="onSubmit()" 
        class="form">
    
        <mat-form-field class="field">
            <input matInput 
                formControlName="email"
                placeholder="Email" />
        </mat-form-field>
    
        <mat-form-field class="field">
            <input matInput 
                formControlName="password"
                type="password"
                placeholder="Senha" />
        </mat-form-field>
    
        <button mat-raised-button
            class="submit-button"
            color="accent"
            type="submit"
            [disabled]="!loginForm?.valid">
            Entrar
        </button>

        <div class="option">
            ou <a class="link" routerLink="/welcome/signup">cadastrar-se</a>
        </div>
    </form>
</div>
    
    