@import 'colors.scss';
@import 'responsive.scss';

.header {
    height: 50px;
    background-color: $habitop-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-sm-up {
        height: 70px;
    }

    & > .app-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        & > .title {
            margin-left: 10px;
            font-size: 25px;
            color: white;

            @include for-sm-up {
                font-size: 30px;
            }
        }
    }
}

.color-white {
    color: white;
}