<p>Cadastro</p>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Senha" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Repetir Senha" />
    </mat-form-field>
</form>

<button mat-raised-button> 
    <a routerLink="/welcome/login" routerLinkActive="active">Login</a>
</button>