<div class="habit-day">
    <div class="header">
        <button mat-button
            class="icon"
            color="basic"
            routerLink="/{{previousDate}}" 
            routerLinkActive="active">
            
            <app-icon>keyboard_arrow_left</app-icon>
        </button>

        <div class="title-wrapper">
            <div class="title">{{title}}</div>
            <div class="weekday">{{weekday}}</div>
        </div>

        <button mat-button
            class="icon"
            color="basic"
            routerLink="/{{nextDate}}" 
            routerLinkActive="active">
            
            <app-icon>keyboard_arrow_right</app-icon>
        </button>
    </div>

    <div class="center">
        <div class="scroll-container">
            <app-habit-card *ngFor="let habit of filteredHabits"
                [habit]="habit"
                [check]="(habitDay$ | async)?.getCheckForHabitWithId(habit?.id)"
                (clickedCheck)="onClickedCheck($event, habit?.id)">
            </app-habit-card>
        </div>
        
        <button mat-fab
            class="floating-button"
            color="accent" 
            aria-label="Novo hábito" 
            routerLink="/new" 
            routerLinkActive="active">
            
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <div class="bottom">
        <div class="circles">
            <app-date-circle *ngFor="let previousWeekDate of previousWeekDates"
                [date]="previousWeekDate"
                [selectedDate]="date"
                [isOneChecked]="(checkedDateService?.getHabitDay(previousWeekDate) | async)?.isOneChecked"
                [isAllChecked]="(checkedDateService?.getHabitDay(previousWeekDate) | async)?.isAllChecked"
                format="week">
            </app-date-circle>

            <button mat-icon-button 
                aria-label="Ver calendário" 
                routerLink="/calendar/{{monthDate}}" 
                routerLinkActive="active"
                title="Ir para o calendário">
                
                <app-icon>arrow_back</app-icon>
            </button>
        </div>
    </div>
</div>

