@import 'responsive';

.habit-day {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;

    @include for-sm-up {
        padding: 20px;
    }

    @include for-lg-up {
        padding: 20px 40px;
    }

    & > .title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & > .title {
            text-align: center;
            font-size: 20px;
            font-weight: bold;

            @include for-sm-up {
                font-size: 30px;
            }
        }

        & > .weekday {
            text-align: center;
            font-size: 14px;
            margin: 5px 0;

            @include for-sm-up {
                font-size: 18px;
                margin: 10px 0;
            }
        }
    }
}

.center {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    border-top: 1px solid rgb(231, 230, 230);
    border-bottom: 1px solid rgb(231, 230, 230);

    & > .scroll-container {
        flex: 1;
        overflow-y: auto;
        min-height: 0px;
        padding-bottom: 60px;
    }

    & > .floating-button {
        position: absolute;
        bottom: 10px;
        right: 10px;

        @include for-sm-up {
            bottom: 20px;
            right: 20px;
        }
    
        @include for-lg-up {
            bottom: 40px;
            right: 40px;
        }
    }
}

.bottom {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;

    @include for-sm-up {
        padding: 20px;
    }

    @include for-lg-up {
        padding: 25px 40px;
    }

    & > .calendar {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
        }
    }

    & > .circles {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        
    }
}

.icon * {
    font-size: 30px;
    width: auto;
    height: auto;

    @include for-sm-up {
        font-size: 40px;
    }
}