<div class="calendar">
    <div class="header">
        <button mat-button
            class="icon"
            routerLink="/calendar/{{previousMonthDate}}" 
            routerLinkActive="active">
            
            <app-icon>keyboard_arrow_left</app-icon>
        </button>

        <div class="title-wrapper">
            <div class="title">{{title}}</div>
            <div class="info" *ngIf="(numberOfPerfectDays$ | async) === 0">Nenhum dia perfeito</div>
            <div class="info" *ngIf="(numberOfPerfectDays$ | async) === 1">1 dia perfeito</div>
            <div class="info" *ngIf="(numberOfPerfectDays$ | async) > 1">{{numberOfPerfectDays$ | async}} dias perfeitos!</div>
        </div>

        <button mat-button
            class="icon"
            routerLink="/calendar/{{nextMonthDate}}" 
            routerLinkActive="active">
            
            <app-icon>keyboard_arrow_right</app-icon>
        </button>
    </div>
    
    <div class="center">
        <div class="week-row">
            <div *ngFor="let weekday of weekdays"
                class="weekday">
                {{weekday}}
            </div>
        </div>

        <div *ngIf="(habitMonth$ | async)?.days?.length > 0" class="days-wrapper">
            <div *ngFor="let week of datesMatrix" 
                class="week-row">
                <app-date-circle *ngFor="let dateCircleInfo of week"
                    [date]="dateCircleInfo?.date"
                    [opaque]="notThisMonth(dateCircleInfo?.date)"
                    [isOneChecked]="(dateCircleInfo?.checks$ | async)?.isOneChecked"
                    [isAllChecked]="(dateCircleInfo?.checks$ | async)?.isAllChecked">
                </app-date-circle>
            </div>
        </div>
    </div>
</div>
    
    