@import 'responsive';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

.max-width-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    box-shadow: 0 0 5px 2px rgb(165, 165, 165);
    box-sizing: border-box;

    @include for-xl-up {
        max-height: 95%;
    }
}
