@import 'responsive';
@import 'colors.scss';

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 2px 3px 1px lightgray;
    
    & > .link {
        display: inline-block;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;

        .text {
            display: inline-block;
            margin: 5px 9px;
            box-sizing: border-box;
            font-family: monospace;
            font-size: 18px;

            @include for-sm-up {
                font-size: 25px;
                margin: 10px 16px;
            }

            &.week:not(.today) {
                font-size: 0;

                &::first-letter {
                    font-size: 18px;

                    @include for-sm-up {
                        font-size: 25px;
                    }
                }

                @include for-md-up {
                    font-size: 25px;
                }
            }
        }
    }
}

.month-circle {
    height: 40px;
    width: 40px;

    @include for-sm-up {
        height: 60px;
        width: 60px;
    }
}

.opaque {
    opacity: 0.4;
}

.emphasize {
    box-shadow: 0 0 0 3px $habitop-alternate-primary;
}

.one-checked {
    border-color: $habitop-primary;

    & > .link {
        color: $habitop-primary;
    }
}

.all-checked {
    border-color: $habitop-primary;
    background-color: $habitop-primary;

    & > .link {
        color: white;
    }
}