<div class="habit-card">
    <div class="left"
        (click)="onClickedEditItem()"
        title="Clique para editar">

        <div class="{{check?.isChecked ? 'gray-theme' :iconService?.getClass(habit?.color)}}">
            <mat-icon class="icon" color="{{check?.isChecked ? 'warn' : iconService?.getMatColor(habit?.color)}}">{{habit?.icon}}</mat-icon>
        </div>
    </div>

    <div class="center"
        (click)="onClickedEditItem()"
        title="Clique para editar">
        
        <div class="top">
            <span class="title" [ngClass]="{'title-checked': check?.isChecked}">{{habit?.name}}</span>
        </div>

        <div class="bottom">
            <div *ngIf="!check?.isChecked" class="{{iconService?.getClass(habit?.color)}}">
                <mat-icon color="{{iconService?.getMatColor(habit?.color)}}">play_arrow</mat-icon>
            </div>
            <div *ngIf="check?.isChecked">
                <mat-icon color="primary">check_box</mat-icon>
            </div>

            <div class="text">
                <span *ngIf="check?.streak > 0" [ngClass]="{'done': check?.isChecked}">
                    {{check?.streak}} em seguida<span *ngIf="check?.isChecked">! FEITO!</span><span *ngIf="!check?.isChecked">. Faça hoje!</span>
                </span>
    
                <span *ngIf="!check?.streak || check?.streak === 0">
                    Comece a sequência hoje!
                </span>
            </div>
        </div>
    </div>

    <div class="right"
        (click)="onClickedCheck()"
        title="Clique para marcar como feito">
        <mat-icon *ngIf="!check?.isChecked" class="icon">check_box_outline_blank</mat-icon> 
        <mat-icon *ngIf="check?.isChecked" color="primary" class="icon">check_box</mat-icon> 
    </div>
</div>
