@import 'responsive';
@import 'colors.scss';

.habit-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 2px 2px 2px lightgray;
    cursor: pointer;    

    @include for-sm-up {
        margin: 20px;
    }

    @include for-md-up {
        margin: 20px 30px;
    }

    @include for-lg-up {
        margin: 20px 40px;
    }

    & > .left {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-sm-up {
            padding: 0 20px;
        }
    }

    & > .center {
        padding: 10px 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include for-sm-up {
            padding: 20px 0;
        }

        & > .top {
            display: flex;
            align-items: center;
            padding-left: 5px;

            & > .title {
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 10px;

                @include for-sm-up {
                    font-size: 28px;
                }
            }

            & > .title-checked {
                color: gray;
                text-decoration: line-through;
            }
        }

        & > .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            & > .text {
                margin-left: 5px;

                @include for-sm-up {
                    font-size: 20px;
                }

                & > .done {
                    color: $habitop-primary;
                }
            }
        }
    }

    & > .right {
        padding: 0 10px;
        display: flex;
        align-items: center;

        @include for-sm-up {
            padding: 0 20px;
        }
    }
}


.icon {
    display: block;
    font-size: 40px;
    text-align: center;
    height: auto;
    width: auto;

    @include for-sm-up {
        font-size: 60px;
    }
}