<div class="habit-card">
    <div class="left"
        (click)="onClickedEditItem()"
        title="Clique para editar">

        <app-icon size="lg" 
            [color]="check?.isChecked ? 'gray' : habit?.color">
            {{habit?.icon}}
        </app-icon>
    </div>

    <div class="center"
        (click)="onClickedEditItem()"
        title="Clique para editar">
        
        <div class="top">
            <span class="title" [ngClass]="{'title-checked': check?.isChecked}">{{habit?.name}}</span>
        </div>

        <div class="bottom">
            <app-icon size="sm"
                [color]="check?.isChecked ? 'green' : habit?.color">
                {{check?.isChecked ? 'check_box' : 'play_arrow'}}
            </app-icon>

            <div class="text">
                <span *ngIf="check?.streak > 0" [ngClass]="{'done': check?.isChecked}">
                    {{check?.streak}} em seguida<span *ngIf="check?.isChecked">! FEITO!</span><span *ngIf="!check?.isChecked">. Faça hoje!</span>
                </span>
    
                <span *ngIf="!check?.streak || check?.streak === 0">
                    Comece a sequência hoje!
                </span>
            </div>
        </div>
    </div>

    <div class="right"
        (click)="onClickedCheck()"
        title="Clique para marcar como feito">
        <app-icon size="lg" 
            [color]="check?.isChecked ? 'green' : 'black'">
            {{check?.isChecked ? 'check_box' : 'check_box_outline_blank'}}
        </app-icon>
    </div>
</div>
