<div class="habit-card">
    <div class="left"
        (click)="onClickedEditItem()"
        title="Clique para editar">

        <app-icon size="lg" 
            [color]="habitWithDayInfo?.isChecked ? 'gray' : habitWithDayInfo?.color">
            {{habitWithDayInfo?.icon}}
        </app-icon>
    </div>

    <div class="center"
        (click)="onClickedEditItem()"
        title="Clique para editar">
        
        <div class="top">
            <span class="title" [ngClass]="{'title-checked': habitWithDayInfo?.isChecked}">{{habitWithDayInfo?.name}}</span>
        </div>

        <div class="bottom">
            <app-icon size="sm"
                [color]="habitWithDayInfo?.isChecked ? 'green' : habitWithDayInfo?.color">
                {{habitWithDayInfo?.isChecked ? 'check_box' : 'play_arrow'}}
            </app-icon>

            <div class="text">
                <span *ngIf="habitWithDayInfo?.streak > 0" [ngClass]="{'done': habitWithDayInfo?.isChecked}">
                    {{habitWithDayInfo?.streak}} em seguida<span *ngIf="habitWithDayInfo?.isChecked">! FEITO!</span><span *ngIf="!habitWithDayInfo?.isChecked">. Continue!</span>
                </span>
    
                <span *ngIf="!habitWithDayInfo?.streak || habitWithDayInfo?.streak === 0">
                    Comece a sequência!
                </span>
            </div>
        </div>
    </div>

    <div class="right"
        (click)="onClickedCheck()"
        title="Clique para marcar como feito">
        <app-icon size="lg" 
            [color]="habitWithDayInfo?.isChecked ? 'green' : 'black'">
            {{habitWithDayInfo?.isChecked ? 'check_box' : 'check_box_outline_blank'}}
        </app-icon>
    </div>
</div>
