$habitop-primary:   #63cf63;
$habitop-accent:    #12dde4;
$habitop-warn:      #fe53bb;

$habitop-alternate-primary:   #f5d300;
$habitop-alternate-accent:    #7122fa;
$habitop-alternate-warn:      #ff9472;

$habitop-gray-primary:   #ffffff;
$habitop-gray-accent:    #000000;
$habitop-gray-warn:      #dddddd;

$habitop-gray-light:    #f5f5f5;